.header {
  box-shadow: 0 2px 2px 0px var(--shadow);
  color: var(--text);
  background: var(--secondary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;

    .theme__switch {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .icon {
        background: url("../../assets/moon-line.svg") center center/cover
          no-repeat;
        height: 20px;
        width: 20px;
        margin-right: 10px;
        fill: var(--text);
      }
    }
  }
}
