.countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;

  @media screen and (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 576px) and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
