.country__wrapper {
  width: 100%;
  transition: opacity 0.3s ease;
  .country {
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 6px 0px var(--shadow);
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    &__flag {
      width: 100%;
      height: 200px;
      background: center center/cover no-repeat;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &__desc {
      padding: 20px 20px 40px 20px;
      background: var(--secondary-color);
      color: var(--text);
      border-radius: 10px;
      font-size: 0.9rem;
      flex-grow: 1;

      .country__name {
        padding: 10px 0;
        font-size: 20px;
      }
      &--field {
        padding: 5px 0;
      }
      &--title {
        font-weight: bold;
      }
    }
  }
}
