@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.light__theme {
  --primary-color: #fafafa;
  --secondary-color: #ffffff;
  --text: #333;
  --shadow: #ccc;
  transition: all 0.3s ease;
}

.dark__theme {
  --primary-color: #212e37;
  --secondary-color: #2b3743;
  --text: #fff;
  --shadow: #000;
  transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: inherit;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main {
  width: 100%;
  background: var(--primary-color);
}

.container {
  max-width: 1450px;
}
