.dropdown {
  max-width: 250px;
  width: 100%;
  padding: 20px 30px;
  text-align: left;
  box-shadow: 0 0px 4px 0 var(--shadow);
  position: relative;
  border-radius: 10px;
  z-index: 1000;
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--text);
  transition: all 0.3s ease;

  &__wrapper {
    position: relative;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    height: 15px;
    width: 15px;
    display: inline-block;
    position: relative;
    fill: var(--text);
  }
  &__list {
    background: var(--secondary-color);
    color: var(--text);
    border-radius: 10px;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    top: 68px;
    padding: 10px 15px;
    box-shadow: 0 0px 4px 0 var(--shadow);

    .list__item {
      padding: 10px 0;
      transition: all 0.3s ease;
      &:hover {
        color: #00bfff;
      }
      &--active {
        color: #00bfff;
      }
    }
  }

  &__list--open {
    visibility: visible;
    opacity: 1;
  }
}
